.idea/
build/
cmake-build-debug/

/model-training/ipynb_checkpoints
/model-training/.ipynb_checkpoints
model-training/.ipynb_checkpoints

*.log
.DS_Store
.cache/
local/
*.pbtxt
*.data*
*.index
*.config
model-training/tfod-venv
*.record
model-training/models/pretrained/
model-training/models/checkpoint
model-training/models/train
model-training/models/export/
venv/
model-training/models/exported/
